<!DOCTYPE html>
<br>
<br>
<br>
<div class="mx-4">
    <h1>書籍情報の編集</h1>
    <br>
        <%= form_for @book do |f| %>
            <div class="field">
                <%= f.label :表紙 %>
                <%= f.file_field :image %>
            </div>

            <div class="field">
                <%= f.label :タイトル %>
                <%= f.text_field :title %>
            </div>
            <div class="field">
            <%= f.label :著者 %>
            <%= f.text_field :author %>
            </div>

            <div class="field">
            <%= f.label :出版社 %>
            <%= f.text_field :publisher%>
            </div>

            <div class="field">
            <%= f.label :発行年 %>
            <%= f.text_field :year%>
            </div>

            <div class="field">
            <%= f.label :ISBN %>
            <%= f.text_field :isbn %>
            </div>

    <br>

            <%= f.submit "編集" ,class:"btn btn-outline-primary"%>
        <% end %>

</div>