<%= stylesheet_link_tag 'books', :media => "all" %>

<!DOCTYPE html>
<br>
<br>
<br>
<div class="mx-4">
    <h1>書籍一覧</h1>
</div>

<div class="mx-4">
    <br>
    <h5>タイトル検索</h5>
    <%= form_tag({controller:"books",action:"index"}, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索する' ,class:"btn btn-dark btn-sm" %>
    <% end %>
    <br>
</div>
<div class="container-fluid">
    <div class="row mt-4">
        <% @books.each do |b| %>
            <div class="col-sm">
                <div class="card">
                    <div class="book">
                    <div class="card__imgframe">
                        <% if b.image.present? %>
                            <%= image_tag b.image_url, width: '300', height: '350' %>
                        <% else %>
                            <%= image_tag 'no_image.jpg', width: '300', height: '350' %>
                        <% end %>
                    </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h5 class="card-title"><%= b.title .truncate(13)%></h5>
                                </div>
                                <div class="col-sm-3">
                                    <%= link_to "詳細", book_path(b.id) ,class:"btn btn-dark btn-sm"%>
                                </div>
                            </div>
                            <br>
                            
                            <div class="row">
                                <div class="col-sm-4">
                                    <% if b.now_rental? %>
                                        <% if b.rental_user==current_user %>
                                            <%= link_to '返却', book_rental_path(id: b.rentals.now_rental.first.id,book_id:b.rentals.now_rental.first.id), method: :patch, data: { confirm: '書籍の返却を行いますか？' } ,class:"btn btn-outline-danger"%>
                                        <% else %>
                                            <button type="button" class="btn btn-outline-dark" disabled>貸出中 </button>
                                        <% end %>
                                    <% else %>
                                        <%= link_to '貸出', book_rentals_path(id:b.id,book_id:b.id), method: :post, data: { confirm: '書籍の貸出を行いますか？' },class:"btn btn-outline-primary"%>
                                    <% end %>
                                </div>

                                <div class="col-sm-8">
                                    <div class="text-right">
                                        <% if user_signed_in? && current_user.id == b.user_id %> 
                                            <%= link_to "編集", edit_book_path(b.id),class:"btn btn-outline-dark"%>
                                            <%= link_to "削除", book_path(b.id), method: :delete , "data-confirm"=>"本当に消しますか？",class:"btn btn-outline-dark"%>
                                        <% end %>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br>
            </div>
        <% end %>
    </div>
</div>

<br>
<%= paginate @books %>
<br>