<h1>詳細</h1>

<p>
    <strong>タイトル:</strong>
    <%= @book.title %>
</p>

<p>
    <strong>著者:</strong>
    <%= @book.author %>
</p>

<p>
    <strong >出版社:</strong>
    <%= @book.publisher %>
</p>

<p>
    <strong>発行年:</strong>
    <%= @book.year %>
</p>

<p>
    <strong>Isbnコード:</strong>
    <%= @book.isbn %>
</p>

<%= link_to "編集する", edit_book_path(@book.id) %>

<div class="comment-wrapper">
    <p>コメント一覧</p>
    <% @comments.each do |c| %>
    <div>
        <%= c.user.email unless c.user.blank? %>
        <br>
        %= c.content %>
    </div>
        <br>
    <% end %>

    <% if user_signed_in? %>
    #commentがbookにアソシエーションによって紐づいている為配列
    <%= form_with(model: [@book, @comment], local: true) do |f| %>
        <%= f.text_area :content %>
        <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
        <% end %>
    <% end %>
    <% end %>
</div>

<%= link_to '書籍一覧', books_path%>